/*
I like this color palette:
background: #E5DADA
Accents - Prussian Blue, #002642; Claret, #840032; Gamboge, E49B0F; Viridian, #498467;

Other shades: another Gamboge, #F49F0A; Jonquil, efca08; Cerulean, 077187; Cerise, #DA4167; Cadet Gray, #9DA3A4; Parchment, #F4ECD6; these last three good for the pencil
*/

body {
    background-color: #E5DADA;
    /*font-family: 'Libre Baskerville', serif;*/
    /*font-family: 'PT Sans Narrow', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    padding: 2rem;
}

h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 36px;
}

.mainBanner {
    display: block;
    width: 100%;
    position: relative;
    padding: 5px; 
    overflow: hidden;
}

.banner {
    max-height: 250px;
}

.banner img {
    max-width: 100%;
}

nav {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

ul {
    background: #498467;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    background: #498467;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a{
    color: #F4ECD6;
    text-decoration: none;
}

li:hover {
    background: #DA4167;
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .bodyText{
    padding-top: 60px;
}

#navbar {
    overflow: hidden;
}

.bodyText {
    font-size: 24px;
    padding: 1rem;
}

.Preview {
    box-sizing: border-box;
    border: #498467 solid 3px;
    background-color: #F4ECD6;
    padding: 6px;
    margin: 1rem;
}

.previewImg{
    float: left;
    text-align: center;
    margin: 4rem;
    max-height: fit-content;
    box-sizing: border-box;
    border: #9DA3A4 solid 2px;
}

.link {
    color: #DA4167;
    text-decoration: underline;
    cursor: pointer;
}